.buttons {
    display: flex;
    flex-direction: row;
}

.encriptar {
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
    font-family: cursive;
    height: 50px;
    left: 200px;
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 705px;
    width: 300px;
}

.desencriptar {
    background: none;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
    font-family: cursive;
    height: 50px;
    left: 510px;
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 705px;
    width: 300px;
}

.advertencia {
    display: flex;
    font-family: cursive;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 8px;

    position: absolute;
    width: 280px;
    height: 18px;
    left: 210px;
    top: 654px;
    opacity: 70%;
}

.copiar {
    visibility: hidden;
    background-color: #ffffff;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
    font-family: cursive;
    height: 50px;
    left: 1012px;
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 715px;
    width: 400px;
}

@media screen and (max-width: 768px) {
    .encriptar {
        height: 60px;
        left: 15px;
        top: 705px;
        font-size: 1.5rem;
        width: 360px;
    }

    .desencriptar {
        height: 60px;
        left: 390px;
        top: 705px;
        font-size: 1.5rem;
        width: 360px;
    }
    .advertencia {
        left: 15px;
        top: 660px;
    }

    .copiar {
        height: 60px;
        left: 20px;
        font-size: 1.5rem;
        top: 935px;
        width: 725px;
    }
}


@media screen and (max-width: 375px) {
    .encriptar {
        height: 55px;
        left: 10px;
        top: 650px;
        font-size: 1.2rem;
        width: 360px;
    }

    .desencriptar {
        height: 55px;
        left: 10px;
        top: 715px;
        font-size: 1.2rem;
        width: 360px;
    }
    .advertencia {
        left: 10px;
        top: 605px;
    }

    .copiar {
        height: 55px;
        left: 15px;
        font-size: 1.2rem;
        top: 925px;
        width: 345px;
    }
}