.texto {
    background: none;
    border: none;
    color: #0A3871;
    font-size: 1.485rem;
    font-family: cursive;
    height: 480px;
    left: 240px;
    position: absolute;
    top: 168px;
    width: 577px;
}